.change-email-popup-title {
    padding: 10px 20px;
    font-size: 14px;
    @include breakpoint(medium) {
        padding: 20px 180px;
    font-size: 20px;

    }

    @include breakpoint(large) {
        padding: 20px 400px;
    font-size: 30px;

    }
    
}

.change-email-popup-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    color: $Black;

    @include breakpoint(medium) {
    padding: 20px 180px;
    }
    @include breakpoint(large) {
    padding: 20px 400px;
    }

    .change-email-radio-wrapper {
        display: flex;
        flex-direction: row;
        gap: 14px;
        align-items: center;
        justify-content: center;

        &>input {
            height: 30px;
            width: 30px;
            color: $primary-btn-red;
            background: $primary-btn-red;
            accent-color: $primary-btn-red;
        }
    }
    .request-otp-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: $fixed-white;
        font-weight: bold;

        &:not([disabled]) {
            background: $primary-btn-red;
            cursor: pointer;
        }
        &[disabled] {
            background: $primary-btn-red-disabled;
            cursor: not-allowed;
        }
    }
}