.addAddress-main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &>.addAdress-pincode-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

       &:only-child{
        width: 70%;
       }
    }
}
.addAddress-btn-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    &>div {
        width: 100%;
        display: flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: var(--Button2, #DB4444);
        color: white;
        cursor: pointer;
    }
}

.addAddress-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & div {
        display: flex;
        flex-direction: row;
        gap: 40px;
        &>label {
            display: flex;
            align-items: center;
            gap: 10px;
            &>input {
                // margin-right: 20px;
                height: 18px;
                width: 18px;
            }
        }
    }
}

.addAddress-Default-address {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: fit-content;
    &>input {
        height: 20px;
        width: 20px;
    }
}

.loyality-main-wrapper {

.address-locality-dropdown {
margin-top: 10px;
height: fit-content;
width: 80%;
background-color: $White;
z-index: 1;
bottom: 140px;
position: absolute;
padding: 20px;
border-radius: 4px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
display: flex;
flex-direction: column;
gap: 20px;

&>h4 {
    margin: 10px;
}
&>.address-locality-mapFunc {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-height: 100px;
    overflow: scroll;
    scrollbar-width: 5px;
& input {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    background-color: $primary-btn-red;
    border: 1px solid $primary-btn-red
}
}
&>.btn-wrapper {
display: flex;
align-items: center;
justify-content: space-evenly;
& button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
&>.confirm-btn {
    background-color: $primary-btn-red;
    color: $White;
    border: none;
}
}
}
}