
.react-input-container {
  position: relative;
  height: 40px;

  & > .label-text-focus-disabled {
    color: white;
    background-color:rgb(169, 160, 160);
    top: -10px;
    left: 10px;
  }

  & label {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  & > .label-text {
    color: var(--Text2, #000);
    bottom: 6px;
    left: 10px;
    // z-index: 15;
    transition: transform 0.2s ease-out;
  }

  & > .label-text-focus {
    color: var(--Text2, #000);
    top: -10px;
    left: 10px;
  }
  & > .label-text-disabled {
    color: white;
    background-color:  rgb(169, 160, 160);
    bottom: 6px;
    left: 10px;
    // z-index: 15;
    transition: transform 0.2s ease-out;
  }
  & .react-input-wrapper--success {
    background-color: rgb(211, 254, 211);
  }
  & .react-input-wrapper--normal {
    background-color: rgb(247, 243, 243);
    
  }
  & .react-input-wrapper--disabled {
    background-color:rgb(169, 160, 160);
    cursor: not-allowed;
    color: black;
    &>.input-disabled {
          color: white;
          &:focus {
            outline: none;
          }
        }
  }
  & .react-input-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    width: 100%;
    align-items: center;
    height: 100%;

    &>.input-basic {
      margin-left: 10px;
          height: 32px;
          width: 90%;
          border: none;
          background-color: inherit;
          &:focus {
            outline: none;
          }
        }
    &>.greenTick {
       margin-right: 10px;
    }
  }
  
}
