.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-icon {
  animation: blink 1s infinite alternate;
  margin-bottom: 10px; /* Adjust this value as needed */
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// .loading-text {
//   font-size: 24px;
//   color: #3498db;
//   animation: blinkText 1s infinite alternate;
// }

// @keyframes blinkText {
//   0% { color: #3498db; }
//   100% { color: #f00; } /* Change color as per your design */
// }

// .loading-dots {
//   display: inline-block;
//   font-size: 24px;
// }

// .dot-animation {
//   animation: dotAppear 1.5s infinite;
// }

// @keyframes dotAppear {
//   0% { opacity: 0; }
//   50% { opacity: 1; }
//   100% { opacity: 0; }
// }
