.react-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.swiper-slide {
  flex: 0 0 auto;
}

.pagination {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 10;
}

.bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(144, 142, 142, 0.5);
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.bullet.active {
  background-color: rgb(251, 6, 6);
  border: none;
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev-btn,
.next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
