.loginorsignup-container{
    width: 371px;
    // margin-top: -150px;
    &>h1{
        margin-bottom: 40px;
    }
    &>.getOtp-btn {
        display: inline-flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: none;
        margin-top: 40px;
        position: relative;
        color: $White;
       width: 150px;
        height: 60px;
    }
    &>.getOtp-btn--normal {
        background: $primary-btn-red;
        cursor: pointer;
    }
    &>.getOtp-btn--disabled {
        background-color: $Disabled-background;
        cursor: not-allowed;
    }
}