.loginorsignup-container{
    width: 371px;
    margin-top: -150px;
    &>h1{
        margin-bottom: 40px;
    }
    &>.getOtp-btn {
        display: inline-flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: var(--Button2, #DB4444);
        border: none;
        margin-top: 40px;
        color: $White;
    }
}