.createAccount-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 48px;
    &>p{
    color: rgb(90, 77, 77);
/* Title/16PX Regular */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
    }
}

.signup-form-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 370px;
    
        & .create-acount-btn {
            width: 100%;
            color: var(--Text, #FAFAFA);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            border-radius: 4px;
            background: var(--Button2, #DB4444);
            line-height: 56px;
            border: none;
    }
    &>div>p {
        margin-top: 15px;
        color: red;
    }
}

.signupform-google-btn{
    margin-top: 16px;
    display: flex;
padding: 16px 86px;
flex-direction: row;
align-items:center;
gap: 10px;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.40);
cursor: pointer;
}