.address-main-container {
    width: 100%;

.address-title-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $primary-btn-red;

    @include breakpoint(small-only) {
        flex-direction: column;
        gap: 20px;
    }

    &> .address-add-address-btn {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid $primary-btn-red;
        color: $primary-btn-red;
        border-radius: 4px;
        transition: all 0.3s linear;
        cursor: pointer;

        @include breakpoint(small-only) {
            font-size: 12px;
            padding: 6px 14px;
        }
        &:hover {
            background-color: $primary-btn-red;
            color: $White;
        }
    }
}
}