.homepage-main-container {
    display: flex;
    width: 100%;
    gap: 50px;
    @include breakpoint(small-only) {
    flex-direction: column;
    }
    @include breakpoint(medium) {
    margin: 0px 75px;
    }

    @include breakpoint(large) {
    margin: 0px 80px;
    }
    .homePage-titleImages-desktop-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        & :nth-child(1) {
            width: 100%;
        }
        & :nth-child(2) {
            width: 100%;
        }
    }
    .homePage-titleImages-mobile-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        & :nth-child(1) {
            width: 100%;
        }
        & :nth-child(2) {
            width: 100%;
        }
    }
}