.login-signup-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 80vh;
    // margin-top: 80px;
    // margin-bottom: 80px;

    @include breakpoint(small-only) {
    // margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
    }
}

.loginSIgnup-component-container {
      padding: 40px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      background: $White;
      box-shadow: $product-card-box-shadow;
    /* Your existing styles for the component container */
  }
  