.login-signup-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: fit-content;
    margin-top: 120px;
    // background-color: $Grey-text-color;
}

.loginSIgnup-component-container {
      box-shadow: 0px 0px 20px 2px $primary-box-shadow-2;
      padding: 40px;
      display: flex;
      align-items: center;
    //   border-radius: 100px;
      background-color: $White;

    /* Your existing styles for the component container */
  }
  