.product-listing-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative;
  
    @include breakpoint(medium) {
      padding: 40px 60px;
    }
  
    @include breakpoint(large) {
      padding: 40px 160px;
    }
  
    .divider {
      &--horizontal {
        background: $primary-btn-red;
        width: 100%;
        height: 4px;
      }
      &--verticle {
        background: $primary-btn-red;
        width: 4px;
        height: 100%;
      }
    }
  
    .product-listing-content-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      margin-top: 60px;
      height: max-content;
      overflow-y: scroll;

      @include breakpoint(small-only) {
        margin-top: 0px;
      }
  
      .filter-container {
        position: sticky;
        top: 60px; // Adjust to account for fixed breadcrumb height
        align-self: flex-start;
        background-color: white; // Ensure it's visible above other content
        z-index: 900; // Adjust to your needs
      }
  
      .product-listing-cards-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
      }
    }
  }

  .product-listing-breadcrump-container {
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $White;
      z-index: 52;
      padding: 60px 20px 0px 20px;
      margin-top: 0px;
      overflow: hidden;

      .divider {
        &--horizontal {
          background: $primary-btn-red;
          width: 100%;
          height: 4px;
        }
        &--verticle {
          background: $primary-btn-red;
          width: 4px;
          height: 100%;
        }
      }

    @include breakpoint(medium) {
        padding: 20px 60px 0px 60px;
    }
    @include breakpoint(large) {
        padding: 20px 160px 0px 160px;
    }
      .product-listing-breadcrump-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        margin-bottom: 20px;
      }
    }
  