.product-listing-cards-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .product-listing-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 100%;

    @include breakpoint(small-medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(medium) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include breakpoint(medium-large) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px 80px;
    }
  }
}
