.orderSection-main-container {
    width: 100vw;
    min-height: 100vh;
    background: $White;
    margin-top: 60px;
    .ordersectionNavbar {
        width: 100%;
        position: fixed;
        top: 0;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 30px;
        border-bottom: 1px solid $freeze-purple;
        align-items: center;
        background: $White;
        z-index: 70;

        @include breakpoint(small-only) {
          padding: 4px 10px;
          }
        .orderSection-nav-mid {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            color: $Grey;

            @include breakpoint(small-only) {
                font-size: 12px;
                gap: 10px;
              }
            .notSelected {
                cursor: pointer;
                &:hover {
                    color: $Black;
                }
            }
            .selected {
                cursor: default;
                color: $primary-btn-red;
            }
        }
    }
}