.allProduct-admin-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    width: 100%;
    font-size: 10px;

    @include breakpoint(medium) {
    font-size: 16px;

    }

    @include breakpoint(large) {
    font-size: 20px;

    }
  }
  
  .allProduct-admin-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .allProduct-admin-container th,
  .allProduct-admin-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .allProduct-admin-container th {
    background-color: $primary-btn-red;
    color: white;
  }
  
  .allProduct-admin-container .admin-table-heading-container {
    background-color: $primary-btn-red;
    color: white;
    text-align: center;
  }
  
  .admin-table-row-container {
    position: relative;
    .product-click-container {
      position: absolute;
      border: 1px solid $primary-btn-red;
      padding: 10px;
      border-radius: 0px 8px 8px 8px;
      left: 50%;
      top: 10px;
      background: $White;
      color: $primary-btn-red;
      cursor: pointer;
    } 
  }
  .selectedProduct {
    background: $primary-btn-red-disabled;
    color: $fixed-white;
  }
  .productSearchbar {
    width: 100%;
    border: 1px solid $primary-btn-red;
    background: $White;
    padding: 15px;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }