
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;    // transition: all 0.3s linear;
}

.global-margin {
    margin: 80px auto 0px;
    width: 100vw !important;
    position: relative;
    box-sizing: border-box;
    background-color: $White;
    min-height: calc(100vh - 100px);
     @include breakpoint(small-only) {
      display: flex;
      justify-content: center;
      margin: 20px auto 0px;
     }
}
.global-margin-singleProduct {
  margin: 80px auto 0px;
  width: 100vw !important;
  position: relative;
  box-sizing: border-box;
  background-color: $White;
  min-height: calc(100vh - 100px);
   @include breakpoint(small-only) {
    display: flex;
    justify-content: center;
    margin: 0px !important;
   }
}
// input[type='checkbox'] {
//     accent-color: $primary-btn-red;
// }

// input[type='radio'] {
//     accent-color: $primary-btn-red;
// }

::-webkit-scrollbar {
    display: none;
}

html,body {
@include breakpoint(small-only) {

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        // overflow-x: hidden;
        background: $White;
    }
}

.headroom-wrapper {
    position: relative;
    z-index: 60; 
  }
.Toastify__toast {
    font-size: 16px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    @include breakpoint(small-only) {
        font-size: 14px;
        max-width: 300px;
        border-radius: 4px;
    }
  }
  
  .green-text {
    color: $green;
  }
