$Blue: blue;
$Red: red;
$White:#fff;
$boxShadow:rgba(99, 99, 99, 0.2);
$Black:black;
$SearchBar-background: #F5F5F5;
$primary-btn-red:#DB4444;
$Grey:grey;
$Grey-text-color: rgb(90, 77, 77);
$Button-text-color: #FAFAFA;
$Button-border-black-shadow:rgba(0, 0, 0, 0.40);
$Disabled-background:rgb(169, 160, 160);
$Input-success-background:rgb(211, 254, 211);
$Input-normal-background: rgb(247, 243, 243);