.product-image-phone-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  .single-product-image-phone {
    width: 100%;
    max-height: 300px; /* Adjust the maximum height as needed */
    height: auto; /* Ensure image height adjusts proportionally */
    @include breakpoint(small-only) {
        max-height: 60vh;
    }
  }
  
  .swiper-container {
    // width: calc(100% - 40px); /* Adjust width to fit the screen with padding */
    margin: 0 auto; /* Center the Swiper container horizontally */
  }
  
  .swiper-slide {
    width: 100% !important; /* Set slide width to 100% */
  }
  